{% extends "base.html" %}
{% block content %}
<br/>
<br/>
<br/>
<div style="max-width: 90%; margin:auto ">
  <div class="row g-5 p">
    <div class="col-md-6">
      <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="fw-bold lead mb-1"><strong>Chanchol Kumar Modok</strong></p>
        <p class="fw-bold text-muted mb-4">Junior Django Developer</p>
        <p class="card-text text-muted fw-light mb-4">
            I am a junior Django developer with a passion for crafting elegant web solutions. 
            I discovered my love for coding during my academic journey and quickly gravitated towards web development. 
            Proficient in Python, my focus is on leveraging the Django framework to build robust and scalable applications.
            I bring a solid foundation in software development and have a knack for translating complex concepts into clean, 
            maintainable code. My enthusiasm for technology is driven by the belief in its power to simplify and enhance our lives. 
            I've worked on diverse projects, from e-commerce platforms to content management systems, 
            gaining valuable insights and refining my skills.As a perpetual learner, I stay updated with the latest trends in web development to tackle new challenges. 
            I am open to collaboration and always excited about new opportunities. Let's connect and explore the possibilities of building something extraordinary together.
            <br/>Thank you for stopping by!
        </p>
        <form class="d-flex grid gap-2">
          <button class="btn btn-info " type="submit">Preview CV</button>
          <button class="btn btn-success " type="submit">Download CV</button>
          <button class="btn btn-primary " type="submit">Contact</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
